/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body {
    background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
    background-size: cover;
    background-repeat: no-repeat;
   
    font-family: 'Numans', sans-serif;
}



.card {
    height: 130px;
    margin-top: 180px;
    
    margin-left:500px;
    
    width: 320px;
    background-color: transparent;
}





.login_btn {
    color: black;
    background-color: #FFC312;
    width: 100px;
}

    .login_btn:hover {
        color: black;
        background-color: white;
    }


