<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Contents/bootstrap-4.5.3-dist/css/bootstrap.css" rel="stylesheet" />

    
</head>

<body>
   

    <img src="~/images/rental.jpg" class="img"/>
    <div>
        @RenderBody()
    </div>
</body>
</html>
