
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>booking</title>
</head>
<body>
    <form method="post">

        <div>
            <p>Want to book a ride!!!</p>
            <table>
                @*<tr>
                        <td><label> Customer id</label></td>
                        <td><input type="text" name="custid" /></td>
                    </tr>
                    <tr>
                        <td><label> car id</label></td>
                        <td><input type="text" name="carid" /></td>
                    </tr>
                    <tr>
                        <td><label>driver id</label></td>
                        <td><input type="text" name="driverid" /></td>
                    </tr>*@
                <tr>
                    <td><label> Start-Date </label></td>
                    <td><input type="date" name="startdate" /></td>
                </tr>
                <tr>
                    <td><label> End-date </label></td>
                    <td><input type="date" name="enddate" /></td>
                </tr>
                <tr>
                    <td><label> From-route </label></td>
                    <td><input type="text" name="fromroute" /></td>
                </tr>
                <tr>
                    <td><label> To-route </label></td>
                    <td><input type="text" name="toroute" /></td>
                </tr>
                <tr>
                    <td><label> Status </label></td>
                    <td><input type="text" name="status" /></td>
                </tr>
                <tr>

                    <td><input type="submit" value="submit" /></td>
                </tr>



            </table>


        </div>
        @ViewData["a"]
    </form>
</body>
</html>

