
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>booking</title>
</head>
<body>
    <form method="post">

        <div>
            <p>Want to book a ride!!!</p>
            <table>

                <tr>
                    <td><label> Start-Date </label></td>
                    <td><input type="date" name="startdate" /></td>
                </tr>
                <tr>
                    <td><label> End-date </label></td>
                    <td><input type="date" name="enddate" /></td>
                </tr>
                <tr>


                    <td><label for="routes">From-route</label></td>
                    @*<td><input type="text" </td>*@
                    <td><input list="fromroute" name="fromroute" id="fromroute"></td>

                    <datalist id="fromroute">
                        <option value="Bangalore">
                        <option value="Mysore">
                        <option value="Hydrabad">
                        <option value="Delhi">
                        <option value="Mumbai">
                    </datalist>

                </tr>
                <tr>

                    <td><label for="route">To-route</label></td>
                    <td><input list="toroute" name="toroute" id="toroute"></td>

                    <datalist id="toroute">
                        <option value="Bangalore">
                        <option value="Mysore">
                        <option value="Hydrabad">
                        <option value="Delhi">
                        <option value="Mumbai">
                    </datalist>
                </tr>

                <tr>

                    <td><input type="submit" value="submit" /></td>
                </tr>





            </table>


        </div>
    </form>
    @ViewData["a"]
    @Html.ActionLink("Show & print Bill", "printbill")
    @Html.ActionLink("Home", "Home")
    @Html.ActionLink("profile", "profile")
</body>
</html>

