
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CustomerHomepage</title>
</head>
<body>
    <div>
        @Html.ActionLink("Register", "Registration", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("Search", "Search", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("NewBooking", "NewBooking", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("feedback", "feedaback", null, new { @class = "btn btn-primary" })
    </div>
</body>
</html>
