
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div>
        @Html.ActionLink("booking", "booking")
        @Html.ActionLink("profile", "profile")

    </div>
</body>
</html>
