@model IEnumerable<BusinessEntity.bookingBE>
@{
    ViewBag.Title = "Bookedcars";
    Layout = "~/Views/shared/Sitemaster1.cshtml";
}

<h2>Bookedcars</h2>

<table style=" border:3px ridge red; background-color :lightgoldenrodyellow">
    <tr style=" border: 3px ridge red">
        <td style="border : 2px double black"> <label style="font-weight : bold"> car id </label></td>
        <td style="border : 2px double black"><label style="font-weight : bold"> Booking ID </label></td>
        <td style="border : 2px double black"> <label style="font-weight : bold"> Start Date  </label></td>
        <td style="border : 2px double black"> <label style="font-weight : bold"> End Mode  </label></td>
    </tr>
    @foreach (var item in Model)
    {
<tr style=" border: 3px ridge red">
    <td style="border : 2px double black"> @item.carid </td>
    <td style="border : 2px double black"> @item.bookingid </td>
    <td style="border : 2px double black"> @item.startdate</td>
    <td style="border : 2px double black"> @item.enddate</td>
 
</tr>
    }
    <tr>
        <td> <button onclick="window.print()"> Print this Details</button></td>
    </tr>
</table>