

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <link href="~/Contents/StyleSheet1.css" rel="stylesheet" />
</head>
<body>
    <div class="card">
        <form method="post">
            <table>
                <tr>
                    <td> Userid </td>
                    <td> <input type="text" name="userid" class="form-control" /></td>
                </tr>
                <tr>
                    <td> Password </td>
                    <td> <input type="text" name="pwd" class="form-control" /></td>
                </tr>
                <tr>
                    <td> </td>
                    <td> <input type="submit" value="Login" class="btn-primary" /> </td>
                </tr>
            </table>
        </form>
        <h4> @ViewData["a"]</h4>
    </div>


</body>
</html>


